<!-- Ask for Requests Screen -->
  <div class="w3-container w3-large" id="askRequest" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Ask for a request</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Do you want help with some repairs or maintenance? Fill out the form and send us your requests.</p>
    <form action="" target="_blank">
      <div class="w3-row-padding w3-grayscale" style="z-index:1;">
        <div class="w3-col m6 w3-margin-bottom">
            <label>Title</label>
            <input class="w3-input w3-border" type="text" name="Title" ng-model="helpCtrl.title" required>
        </div>
        <div class="w3-col m6 w3-margin-bottom">
              <label>Category</label>
              <input class="w3-input w3-border" type="text" name="Category" ng-model="helpCtrl.category" required>
        </div>
      </div>
      <br>
      <div class="w3-row-padding w3-grayscale">
        <div class="w3-col w3-margin-bottom">
          <label>Description</label>
          <textarea class="w3-input w3-border" style="height: 150px;" name="Description" ng-model="helpCtrl.description" placeholder="Describe your request here." required></textarea>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col w3-margin-bottom">
          <button type="submit" style="float: right;" class="w3-button w3-padding-large w3-red w3-margin-bottom">Send Message</button>
        </div>
      </div>
    </form>  
  </div>